//Greens
$green100: #d4eec7;
$green200: #b8e2a1;
$green300: #8dd169;
$green400: #71c644;
$green500: #63c132;
$green600: #529e29;
$green700: #498d25;
$green800: #366a1c;
$green900: #1b350e;

//Neutrals
$white: #eef0f0;
$grey200: #ced2d2;
$grey300: #9da5a6;
$grey400: #7c8788;
$grey500: #4c5b5c;
$grey600: #384343;
$grey700: #2a3233;
$grey800: #1c2222;
$black: #0e1111;
$clear: rgba(0,0,0,0);

//Accents
$orange100: #f8e0ba;
$orange300: #f0b85f;
$orange500: #e89005;
$orange700: #945c04;
$orange900: #402802;

$yellow100: #fff5db;
$yellow300: #ffdd81;
$yellow500: #ffca3a;
$yellow700: #8c6f20;
$yellow900: #2f250b;

$red100: #fae0d9;
$red300: #ed947a;
$red500: #e4572e;
$red700: #7d301a;
$red900: #2a1009;

$blue100: #d0e5f4;
$blue300: #5ca7d9;
$blue500: #0075c4;
$blue700: #004b7d;
$blue900: #001624;
