/*************
* EZ Recipes Styles
*************/
@use '_normalize';
@import '_palette';

@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway&display=swap');

$headingFont: 'Raleway', Arial, sans-serif;
$bodyFont: 'Roboto', Helvetica, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
a,
span,
li,
td,
body {
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

body {
  background-color: $white;
}

a {
  color: $green900;
  font-weight: bold;
}

.two-column {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 0 50%;
  }
}

.secondary-button {
  background-color: $clear;
  border: 1px solid $green700;
  padding: .5rem;
  &:hover {
    cursor: pointer;
  }
}

/*************
* Header Styles
*************/
header {
  background-color: #fff;
  border-top: 3px solid $green800;
  box-shadow: 0 2px 4px $grey200;
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem 0;

  h1 {
    color: $green800;
    margin: .5rem;

    a {
      color: inherit;
      font-family: inherit;
      text-decoration: none;
      clear: both;
    }

  }

  div {
    align-self: center;
  }

  #search {
    border: none;
    border-bottom: 2px solid $green900;
    margin-right: 2rem;
  }

  #search::placeholder {
    color: $green700;
  }

  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .button {
    background: $green800;
    color: #fff;
    display: inline-block;
    margin-right: 2rem;
    min-width: 120px;
    padding: 10px;
    text-align: center;
  }

  span {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    margin-right: 2rem;
    justify-content: space-between;
  }

  .user-header {
    background-color: $clear;
    border: none;
    cursor: pointer;
    display: flex;
    position: relative;
    p {
      align-self: center;
    }

    //drop down menu
    ul {
      background-color: #fff;
      box-shadow: 0 2px 4px $grey200;
      list-style: none;
      padding: .75rem 1.5rem;
      text-align: right;
      position: absolute;
      right: 0;
      bottom: -120px;
      z-index: 200;

      li {
        margin: .75rem 0;

        button {
          background-color: #fff;
          border: none;
          color: $green900;
          font-weight: bold;
          &:hover, &:focus {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      li:first-of-type {
        margin-top: .25rem;
      }

      li:last-of-type {
        margin-bottom: .25rem;
      }
    }
  }

  .user-image {
    border-radius: 50%;
    margin-right: 10px;
    max-height: 50px;
  }

  form {
    position: relative;
  }

}

.search-button {
  background-color: $clear;
  border: none;
  position: absolute;
  right: 30px;
  top: 5px;
  &:hover {
    cursor: pointer;
  }

}

.breadcrumb {
  display: block;
  margin-top: 1rem;
}

/****************
**  CTA Styles
****************/
.cta {
  padding: 2rem;
  text-align: center;
  .button {
    background-color: $green800;
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    margin: 1rem auto;
    min-width: 140px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
  }
}

/*************
**  Main Content Styles
**************/
main {
  margin: 0 auto 2rem;
  width: 90%;

  h2 {
    margin-bottom: 1rem;
  }

  .center-content {
    background-color: #fff;
    box-shadow: 0 2px 4px $grey200;
    font-size: 1.2rem;
    margin: 1rem auto;
    padding: 2rem;
    text-align: center;
    width: 60%;
    p {
      margin-bottom: .5rem;
    }
  }
  .button-link {
    background-color: #fff;
    border: none;
    color: $green900;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

/*************
** Form Styles
*************/
form {
  background-color: #fff;
  box-shadow: 0 2px 4px $grey200;
  margin: 1rem auto;
  padding: 2rem 1rem;

  label {
    color: $green900;
    display: block;
    font-size: 1.25rem;
  }

  input,
  textarea {
    display: block;
  }

  input {
    border: 2px solid $green900;
    padding: .5rem;
  }

  input:focus {
    border: none;
    border-bottom: 2px solid $green900;
  }

  input:valid {
    border: none;
    border-bottom: 2px solid $green900;
  }

  input[type=submit] {
    background: $green800;
    border: none;
    color: #fff;
    display: inline-block;
    min-width: 120px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  input[type=file] {
    background: $green100 url('../assets/icons/image_icon.svg') center / contain no-repeat;
    border: 2px dashed $green300;
    display: block;
    height: 200px;
    text-align: center;
    padding-top: 6rem;
    width: 80%;

    &:hover {
      background-color: #fff;
    }
  }

  #display_name {
    display: inline-block;
    margin-bottom: 2rem;
  }

  //Honey Pot
  #newsletter {
    position: absolute;
    left: -99999px;
  }

}

form.user {
  label,
  input {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  input {
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    max-width: 500px;
  }
}

.search-bar {
  box-shadow: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/*********************
** Add recipe form styles
*********************/

#add-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input {
    width: 100%;
  }

  input:not([type=submit]) {
    margin-bottom: .75rem;
  }

  div {
    padding: 1rem;
  }

  textarea {
    border: 1px solid $green900;
    width: 100%;
  }

  .full-width {
    flex: 1 0 100%;
  }

  .half-width {
    flex: 1 0 50%;
  }

  input[type=submit] {
    max-width: 500px;
    align-self: center;
  }

  label span {
    color: $grey500;
    display: block;
    font-size: .85rem;
  }

  .nutrition {
    border: none;
    display: flex;

    legend {
      font-size: 1.5rem;
    }

    label {
      margin: .25rem;
    }
  }

  #ingredient-inputs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    input,
    label {
      flex: 1 0 50%;
    }

    .row {
      display: flex;
      flex: 1 0 100%;
      margin: 0;
      padding: 0;
    }

    label[for=ingr_name1] {
      flex: 1 0 65%;
      margin-right: 10px;
    }

    label[for=ingr_amt1] {
      flex: 1 0 25%;
    }

    .ingredient-input {
      flex: 1 0 65%;
      margin-right: 10px;
    }

    .remove-row {
      background-color: $clear;
      border: none;
      flex: 1 0 10%;
      max-width: 30px;

      img {
        height: 40px;
        width: 40px;
        margin-bottom: 8px;
      }
    }

    .add-row {
      align-content: flex-end;
      border: 2px dashed $green300;
      background-color: $green100;
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
      width: 100%;
      span {
        align-self: center;
        margin-right: 40%;
      }
      img {
        align-self: flex-end;
      }
    }
  }

}

/******************
** Single recipe page styles
******************/
#single-recipe {

  h2 {
    margin: .75rem 0 .5rem;
  }

  ul,
  ol,
  h3 {
    margin: .5rem 2rem;
  }

  .summary {
    display: flex;
    div {
      flex: 0 0 50%;
      padding-right: .5rem;
      p {
        line-height: 1.4;
      }
    }

    img {
      flex: 1 0 50%;
    }
  }

  .nutrition {
    margin-top: 1rem;
    p {
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }

  .ingredients-list {
    list-style-type: none;
    margin-left: 0;
    li {
      margin-bottom: .5rem;
      &::before {
        content: "-";
        margin-right: .5rem;
      }
    }
  }

  ol {
    margin-left: 1rem;
    li {
      line-height: 1.4;
      margin-bottom: .5rem;
    }
  }

  .categories {
    margin-top: 1rem;
    .category {
      background-color: $green100;
      color: $green900;
      display: inline-block;
      margin-right: 1rem;
      padding: .5rem;
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  .recipe-options {
    display: flex;
    justify-content: flex-end;
  }

}

/******************
**  Recipe Card Styles
*******************/
.section-heading {
  align-items: center;
  background-color: $green800;
  color: $white;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: .25rem 1rem;

  a {
    color: inherit;
  }
}

.card-container {
  margin-bottom: .5rem;
  position: relative;
}

.slide-wrapper {
  overflow: hidden;
}

.inner-container {
  display: flex;
  height: 100%;
  position: relative;
  transition: transform ease-out 0.45s;
  width: 100%;
}

.recipe-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $grey200;
  box-shadow: 0 4px 4px -2px $grey400;
  display: flex;
  flex: 0 0 20%;
  height: 300px;
  transition: transform ease-out .1s;
  text-decoration: none;

  &:hover {
    box-shadow: 0 6px 6px -1px $grey400;
    transform: scale(1.05);
  }

  div {
    align-self: flex-end;
    background: linear-gradient(0deg, $grey800 0%, rgba(56, 67, 67, 0.61) 65%, rgba(56, 67, 67, 0) 100%);
    color: $white;
    display: block;
    padding: .25rem;
    padding-top: 1rem;
    width: 100%;

    p {
      font-weight: normal;
    }
  }
}

.recipe-card.loading {
  -webkit-animation: glow linear 1.2s infinite; 
  animation: glow linear 1.2s infinite;
}

.loading-line {
  background-color: $grey200;
  display: block;
  height: 30px;
  list-style: none;
  margin: .5rem 0;
  width: 100%;
  -webkit-animation: glow linear 1.2s infinite; 
  animation: glow linear 1.2s infinite;
}

.loading-summary {
  height: 100%;
  width: 100%;
}

.loading-image {
  background-color: $grey200;
  height: 144px;
  margin-top: .5rem;
  width: 100%;
  -webkit-animation: glow linear 1.2s infinite; 
  animation: glow linear 1.2s infinite;
}

@-webkit-keyframes glow { 
    0% { background-color:  $grey200; }
    50% { background-color: $grey300; }
    100% { background-color: $grey200; } 

} 
@keyframes glow { 
    0% { background-color: $grey200; }
    50% { background-color: $grey300; }
    100% { background-color: $grey200; } 
}

.recipe-card:first-of-type {
  margin-left: 0;
}

.arrow-button {
  background-color: $clear;
  border: none;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.arrow-left {
  left: -5%;
}

.arrow-right {
  right: -5%;
}

.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .recipe-card {
    margin-right: .5rem;
    margin-bottom: 1.5rem;
  }
}

/******************
** Messages
******************/
.alert {
  box-shadow: 0 2px 4px $grey200;
  margin: 1rem auto;
  padding: 1rem 3rem;
  padding-right: 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;

  button {
    background-color: $clear;
    border: none;
    position: absolute;
    right: 14px;
    top: 20px;
  
    &:hover {
      cursor: pointer;
    }
  }

}

.errors {
  background-color: $red100;
  color: $red900;

  ul {
    margin-left: 2rem;

    li {
      padding: .5rem 0;
    }
  }
}

.message { 
  background-color: $green100;
  color: $green900;
}

/******************
** Modal
******************/
.modal {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 6px 6px -1px $grey400;
  display: flex;
  height: 50%;
  left: 50%;
  padding: 2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  h3 {
    margin-bottom: 1rem;
  }

  button {
    margin: 1rem;
  }
}

/******************
** Featured Section
******************/
.featured {
  height: 50vh;

  .featured-slide {
    display: flex;
    align-items: flex-end;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    img {
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
    h2, p {
      color: #fff;
      position: relative;
    }

    a {
      background: linear-gradient(0deg, $grey800 0%, rgba(56, 67, 67, 0.61) 65%, rgba(56, 67, 67, 0) 100%);
      display: block;
      height: 25%;
      padding: 1rem 5rem 2rem;
      position: relative;
      text-decoration: none;
      width: 100%;
    }

  }
}