/*************
* EZ Recipes Styles
*************/
@use '_normalize';
@import '_palette';

@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway&display=swap');

$headingFont: 'Raleway', Arial, sans-serif;
$bodyFont: 'Roboto', Helvetica, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
a,
span,
li,
td,
body {
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

body {
  background-color: $white;
}

a {
  color: $green900;
  font-weight: bold;
}

.two-column {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 0 50%;
  }
}

/*************
* Header Styles
*************/
header {
  background-color: #fff;
  border-top: 3px solid $green800;
  box-shadow: 0 2px 4px $grey200;
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem 0;

  h1 {
    color: $green800;
    margin: .5rem;

    a {
      color: inherit;
      font-family: inherit;
      text-decoration: none;
      clear: both;
    }
  }

  div {
    align-self: center;
  }

  #search {
    border: none;
    border-bottom: 2px solid $green900;
    margin-right: 2rem;
  }

  #search::placeholder {
    color: $green700;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
    }
  }

  .button {
    background: $green800;
    color: #fff;
    display: inline-block;
    margin-right: 2rem;
    min-width: 120px;
    padding: 10px;
    text-align: center;
  }

  span {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    margin-right: 2rem;
    justify-content: space-between;
  }

  .user-image {
    border-radius: 50%;
    margin-left: 10px;
    max-height: 50px;
  }

}

/*************
**  Main Content Styles
**************/
main {
  margin: 0 auto;
  width: 80%;
}

/*************
** Form Styles
*************/
form {
  background-color: #fff;
  box-shadow: 0 2px 4px $grey200;
  margin: 1rem auto;
  padding: 2rem 1rem;

  label {
    color: $green900;
    display: block;
    font-size: 1.25rem;
  }

  input,
  textarea {
    display: block;
  }

  input {
    border: 2px solid $green900;
    padding: .5rem;
  }

  input:focus {
    border: none;
    border-bottom: 2px solid $green900;
  }

  input:valid {
    border: none;
    border-bottom: 2px solid $green900;
  }

  input[type=submit] {
    background: $green800;
    border: none;
    color: #fff;
    display: inline-block;
    min-width: 120px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  input[type=file] {
    background: $green100 url('../assets/icons/image_icon.svg') center / contain no-repeat;
    border: 2px dashed $green300;
    display: block;
    height: 200px;
    text-align: center;
    padding-top: 6rem;
    width: 80%;

    &:hover {
      background-color: #fff;
    }
  }

  #display_name {
    display: inline-block;
    margin-bottom: 2rem;
  }

  //Honey Pot
  #newsletter {
    position: absolute;
    left: -99999px;
  }

}

form.user {
  label,
  input {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  input {
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    max-width: 500px;
  }
}

.search-bar {
  box-shadow: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/*********************
** Add recipe form styles
*********************/

#add-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input {
    width: 100%;
  }

  div {
    padding: 1rem;
  }

  textarea {
    border: 1px solid $green900;
    width: 100%;
  }

  .full-width {
    flex: 1 0 100%;
  }

  .half-width {
    flex: 1 0 50%;
  }

  input[type=submit] {
    max-width: 500px;
    align-self: center;
  }

  label span {
    color: $grey500;
    display: block;
    font-size: .85rem;
  }

  #ingredient-inputs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    input,
    label {
      flex: 1 0 50%;
    }

    label[for=ingr_name1] {
      flex: 1 0 70%;
      margin-right: 10px;
    }

    label[for=ingr_amt1] {
      flex: 1 0 25%;
    }

    input[id*="ingr_name"] {
      flex: 1 0 70%;
      margin-right: 10px;
    }

    input[id*="ingr_amt"] {
      flex: 1 0 25%;
    }
  }

}

/******************
** Single recipe page styles
******************/
#single-recipe {
  & > div {
    background-color: #fff;
    box-shadow: 0 2px 4px $grey200;

    .two-column {
      p {
        padding: 2rem;
      }

      li {
        font-size: 1.25rem;
        list-style: none;
        padding-left: 2rem;
      }
    }
  }

  ul,
  ol,
  h3 {
    margin: .5rem 2rem;
  }

  .recipe-header {
    position: relative;

    p {
      background: linear-gradient(to top, $grey800, rgba(42, 50, 51, 0.2) 80%, rgba(0,0,0,0));
      bottom: 0;
      color: $white;
      padding: 2rem;
      position: absolute;
      width: 100%;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .tags {
    li {
      display: inline-block;
      list-style: none;
      padding: 0 1rem;
    }

    li:first-of-type {
      padding-left: 0;
    }
  }
}

/******************
**  Recipe Card Styles
*******************/
.section-heading {
  background-color: $green800;
  color: $white;
  padding: .25rem;
  padding-left: 1rem;
}

.card-container {
  position: relative;
  margin-bottom: .5rem;
}

.inner-container {
  display: flex;
  height: 100%;
  position: relative;
  transition: transform ease-out 0.45s;
  width: 100%;
}

.recipe-card {
  background-color: $green100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $grey200;
  box-shadow: 0 4px 4px -2px $grey400;
  display: flex;
  flex: 0 0 25%;
  margin: .66rem;
  height: 300px;
  transition: transform ease-out .1s;
  text-decoration: none;

  &:hover {
    box-shadow: 0 6px 6px -1px $grey400;
    transform: scale(105%);
  }

  div {
    align-self: flex-end;
    background: linear-gradient(0deg, $grey800 0%, rgba(56, 67, 67, 0.61) 65%, rgba(56, 67, 67, 0) 100%);
    color: $white;
    display: block;
    padding: .25rem;
    padding-top: 1rem;
    width: 100%;

    p {
      font-weight: normal;
    }
  }
}

.recipe-card.loading {
  background-color: linear-gradient(45deg, $green100 0%, rgba(82, 158, 41, 0.6) 65%, rgba(82, 158, 41, 0.247) 100%);
}

.recipe-card:first-of-type {
  margin-left: 0;
}

.arrow-button {
  background-color: $clear;
  border: none;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.arrow-left {
  left: -7%;
}

.arrow-right {
  right: -10%;
}

/******************
** Error Messages
******************/
.errors {
  background-color: $red100;
  box-shadow: 0 2px 4px $grey200;
  color: $red900;
  margin: 1rem auto;
  padding: 1rem;

  ul {
    margin-left: 2rem;

    li {
      padding: .5rem 0;
    }
  }
}